lgtm,codescanning
* A new query "Unsafe hostname verification"
  (`java/unsafe-hostname-verification`) has been added. This query finds unsafe
  `HostnameVerifier`s that allow man-in-the-middle attacks.
