<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SqlInjectionMapper">

  <resultMap id="BaseResultMap" type="Test">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="pass" jdbcType="VARCHAR" property="pass"/>
  </resultMap>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <if test="test.name != null">
        and name = ${test.name,jdbcType=VARCHAR}
      </if>
      <if test="test.id != null">
        and id = #{test.id}
      </if>
    </where>
  </sql>

  <select id="bad1" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,name from test where name like '%${name}%'
  </select>

  <select id="bad2" resultMap="BaseResultMap">
    select id,name from test order by ${orderby,jdbcType=VARCHAR} desc
  </select>

  <select id="bad3" parameterType="Test" resultMap="BaseResultMap">
    select id,name from test where name in ${name}
  </select>

  <update id="bad4" parameterType="Test">
    update test
    <set>
      <if test="test.pass != null">
        pass = #{test.pass},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <insert id="bad5" parameterType="Test">
    insert into test (name, pass)
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name = ${name,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = ${pass},
      </if>
    </trim>
  </insert>

  <select id="bad6" resultMap="BaseResultMap">
    select id,name from test where name like '%${name}%'
  </select>

  <select id="bad7" resultMap="BaseResultMap">
    select id,name from test where name in
    <foreach collection="list" item="value" open="(" close=")" separator=",">
      ${value}
    </foreach>
  </select>

  <select id="bad8" resultMap="BaseResultMap">
    select id,name from test where name in
    <foreach collection="array" item="value" open="(" close=")" separator=",">
      ${value}
    </foreach>
  </select>

  <select id="good1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,name from test where id = ${id}
  </select>
</mapper>