<Project>
  <ItemGroup>
    <!-- These are BAD -->
    <PackageReference Include="System.Text.Encodings.Web" Version="4.3.0" />
    <PackageReference Include="system.text.encodings.web" Version="4.3" />
    <PackageReference Include="System.Net.Http" Version="4.1.1" />
    <PackageReference Include="System.Net.Http" Version="4.1.2" />
    <PackageReference Include="System.Private.Uri" Version="4.3.0" />
    <PackageReference Include="Microsoft.NETCore.App" Version="2.1.0" />
    <PackageReference Include="Microsoft.NETCore.App" Version="2.2.1" />

    <!-- These are GOOD -->
    <PackageManagement Include="Microsoft.AspNetCore.All" Version="2.1.5" />
    <PackageReference Include="System.Net.Http" Version="4.3.4" />
    <PackageReference Include="System.Text.Encodings.Web" Version="4.2.9" />
    <PackageReference Include="System.Text.Encodings.Web" Version="4.3.1" />
    <PackageReference Include="System.Private.Uri" Version="4.3.1" />
    <PackageReference Include="Microsoft.NETCore.App" Version="2.1.8" />
    <PackageReference Include="Microsoft.NETCore.App" Version="2.2.2" />

  </ItemGroup>
</Project>
