<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- These are GOOD -->
  <package id="System.IO.Pipelines" version="4.5.1" targetFramework="net45" />
  <package id="System.IO.Pipelines" version="4.5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNetCore.All" version="2.0.9" targetFramework="net45" />

  <!-- These are BAD -->
  <package id="System.IO.Pipelines" version="4.5.0" targetFramework="net45" />
  <package id="System.IO.Pipelines" version="4.5.0.0" targetFramework="net45" />
  <package id="microsoft.aspnetcore.all" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNetCore.All" version="2.0.8" targetFramework="net45" />
</packages>
