---
category: newQuery
---
* A new query `js/jwt-missing-verification` has been added. The query detects applications that does not verify JWT tokens.
