---
category: newQuery
---
* A new query `js/jwt-missing-verification` has been added. The query detects applications that don't verify JWT tokens.
