version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "ruby/node-types"
    schedule:
      interval: "daily"
  - package-ecosystem: "cargo"
    directory: "ruby/generator"
    schedule:
      interval: "daily"
  - package-ecosystem: "cargo"
    directory: "ruby/extractor"
    schedule:
      interval: "daily"
  - package-ecosystem: "cargo"
    directory: "ruby/autobuilder"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch', 'version-update:semver-minor']
