# editor and OS artifacts
*~
.DS_STORE
*.swp

# query compilation caches
.cache

# build artifacts
go/build/*
go/tools/bin
go/tools/linux64
go/tools/osx64
go/tools/win64
go/tools/tokenizer.jar
go/main

# qltest projects and artifacts
*/ql/test/**/*.testproj
*/ql/test/**/*.actual
go/ql/test/**/go.sum

# Java class files
**/*.class

# Visual studio temporaries, except a file used by QL4VS
.vs/*
!.vs/VSWorkspaceSettings.json

# Byte-compiled python files
*.pyc

# python virtual environment folder 
.venv/

# It's useful (though not required) to be able to unpack codeql in the ql checkout itself
/codeql/

csharp/extractor/Semmle.Extraction.CSharp.Driver/Properties/launchSettings.json

# Avoid committing cached package components
.codeql

# Compiled class file
*.class
