<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
<!--    <add key="QLTools" value="https://semmle.pkgs.visualstudio.com/_packaging/QLTools/nuget/v3/index.json" />-->
    <add key="QL" value="https://dave-semmle.pkgs.visualstudio.com/_packaging/QL/nuget/v3/index.json" />
  </packageSources>
</configuration>
