[workspace]

[package]
name = "tsg-python"
version = "0.1.0"
authors = ["Taus Brock-Nannestad <tausbn@github.com>"]
edition = "2024"

# When updating these dependencies, run `misc/bazel/3rdparty/update_cargo_deps.sh`
[dependencies]
anyhow = "1.0"
regex = "1"
tree-sitter = "=0.20.4"
tree-sitter-graph = "0.7.0"
tsp = {path = "tsp"}
clap = "4.5"
