private import {{import_prefix}}.SynthConstructors
private import {{import_prefix}}.Raw

cached module Synth {
  cached newtype T{{root}} =
    {{#final_classes}}
    {{^first}}
    or
    {{/first}}
    T{{name}}({{#params}}{{^first}}, {{/first}}{{type}} {{param}}{{/params}}){{#has_params}} { construct{{name}}({{#params}}{{^first}}, {{/first}}{{param}}{{/params}}) }{{/has_params}}
    {{/final_classes}}

  {{#non_final_classes}}
  {{^root}}
  class T{{name}} = {{#derived}}{{^first}} or {{/first}}T{{name}}{{/derived}};
  {{/root}}
  {{/non_final_classes}}

  {{#final_classes}}
  cached T{{name}} convert{{name}}FromRaw(Raw::Element e) {
    {{^is_fresh_ipa}}
    result = T{{name}}(e)
    {{/is_fresh_ipa}}
    {{#is_fresh_ipa}}
    none()
    {{/is_fresh_ipa}}
  }
  {{/final_classes}}

  {{#non_final_classes}}
  cached T{{name}} convert{{name}}FromRaw(Raw::Element e) {
    {{#derived}}
    {{^first}}
    or
    {{/first}}
    result = convert{{name}}FromRaw(e)
    {{/derived}}
  }
  {{/non_final_classes}}

  {{#final_classes}}
  cached Raw::Element convert{{name}}ToRaw(T{{name}} e) {
    {{^is_fresh_ipa}}
    e = T{{name}}(result)
    {{/is_fresh_ipa}}
    {{#is_fresh_ipa}}
    none()
    {{/is_fresh_ipa}}
  }
  {{/final_classes}}

  {{#non_final_classes}}
  cached Raw::Element convert{{name}}ToRaw(T{{name}} e) {
    {{#derived}}
    {{^first}}
    or
    {{/first}}
    result = convert{{name}}ToRaw(e)
    {{/derived}}
  }
  {{/non_final_classes}}
}
