<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="semmlecode-queries"/>
	</extension>

	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="com.semmle.code.java.library"/>
	</extension>

	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="com.semmle.code.java.dbscheme"/>
		<path value="/config/semmlecode.dbscheme"/>
	</extension>
</plugin>
