/.generated.list linguist-generated
/.gitattributes linguist-generated
/lib/codeql/rust/elements/ArrayExpr.qll linguist-generated
/lib/codeql/rust/elements/AsmExpr.qll linguist-generated
/lib/codeql/rust/elements/AstNode.qll linguist-generated
/lib/codeql/rust/elements/AsyncBlockExpr.qll linguist-generated
/lib/codeql/rust/elements/AwaitExpr.qll linguist-generated
/lib/codeql/rust/elements/BecomeExpr.qll linguist-generated
/lib/codeql/rust/elements/BinaryExpr.qll linguist-generated
/lib/codeql/rust/elements/BlockExpr.qll linguist-generated
/lib/codeql/rust/elements/BlockExprBase.qll linguist-generated
/lib/codeql/rust/elements/BoxExpr.qll linguist-generated
/lib/codeql/rust/elements/BoxPat.qll linguist-generated
/lib/codeql/rust/elements/BreakExpr.qll linguist-generated
/lib/codeql/rust/elements/CallExpr.qll linguist-generated
/lib/codeql/rust/elements/CastExpr.qll linguist-generated
/lib/codeql/rust/elements/ClosureExpr.qll linguist-generated
/lib/codeql/rust/elements/ConstBlockPat.qll linguist-generated
/lib/codeql/rust/elements/ConstExpr.qll linguist-generated
/lib/codeql/rust/elements/ContinueExpr.qll linguist-generated
/lib/codeql/rust/elements/Declaration.qll linguist-generated
/lib/codeql/rust/elements/Element.qll linguist-generated
/lib/codeql/rust/elements/ElementListExpr.qll linguist-generated
/lib/codeql/rust/elements/Expr.qll linguist-generated
/lib/codeql/rust/elements/ExprStmt.qll linguist-generated
/lib/codeql/rust/elements/FieldExpr.qll linguist-generated
/lib/codeql/rust/elements/Function.qll linguist-generated
/lib/codeql/rust/elements/GenericArgList.qll linguist-generated
/lib/codeql/rust/elements/IdentPat.qll linguist-generated
/lib/codeql/rust/elements/IfExpr.qll linguist-generated
/lib/codeql/rust/elements/IndexExpr.qll linguist-generated
/lib/codeql/rust/elements/ItemStmt.qll linguist-generated
/lib/codeql/rust/elements/Label.qll linguist-generated
/lib/codeql/rust/elements/LetExpr.qll linguist-generated
/lib/codeql/rust/elements/LetStmt.qll linguist-generated
/lib/codeql/rust/elements/LiteralExpr.qll linguist-generated
/lib/codeql/rust/elements/LiteralPat.qll linguist-generated
/lib/codeql/rust/elements/Locatable.qll linguist-generated
/lib/codeql/rust/elements/LoopExpr.qll linguist-generated
/lib/codeql/rust/elements/MatchArm.qll linguist-generated
/lib/codeql/rust/elements/MatchExpr.qll linguist-generated
/lib/codeql/rust/elements/MethodCallExpr.qll linguist-generated
/lib/codeql/rust/elements/Missing.qll linguist-generated
/lib/codeql/rust/elements/MissingExpr.qll linguist-generated
/lib/codeql/rust/elements/MissingPat.qll linguist-generated
/lib/codeql/rust/elements/Module.qll linguist-generated
/lib/codeql/rust/elements/OffsetOfExpr.qll linguist-generated
/lib/codeql/rust/elements/OrPat.qll linguist-generated
/lib/codeql/rust/elements/Pat.qll linguist-generated
/lib/codeql/rust/elements/Path.qll linguist-generated
/lib/codeql/rust/elements/PathExpr.qll linguist-generated
/lib/codeql/rust/elements/PathPat.qll linguist-generated
/lib/codeql/rust/elements/PrefixExpr.qll linguist-generated
/lib/codeql/rust/elements/RangeExpr.qll linguist-generated
/lib/codeql/rust/elements/RangePat.qll linguist-generated
/lib/codeql/rust/elements/RecordExpr.qll linguist-generated
/lib/codeql/rust/elements/RecordExprField.qll linguist-generated
/lib/codeql/rust/elements/RecordPat.qll linguist-generated
/lib/codeql/rust/elements/RecordPatField.qll linguist-generated
/lib/codeql/rust/elements/RefExpr.qll linguist-generated
/lib/codeql/rust/elements/RefPat.qll linguist-generated
/lib/codeql/rust/elements/RepeatExpr.qll linguist-generated
/lib/codeql/rust/elements/ReturnExpr.qll linguist-generated
/lib/codeql/rust/elements/SlicePat.qll linguist-generated
/lib/codeql/rust/elements/Stmt.qll linguist-generated
/lib/codeql/rust/elements/TupleExpr.qll linguist-generated
/lib/codeql/rust/elements/TuplePat.qll linguist-generated
/lib/codeql/rust/elements/TupleStructPat.qll linguist-generated
/lib/codeql/rust/elements/TypeRef.qll linguist-generated
/lib/codeql/rust/elements/UnderscoreExpr.qll linguist-generated
/lib/codeql/rust/elements/Unextracted.qll linguist-generated
/lib/codeql/rust/elements/Unimplemented.qll linguist-generated
/lib/codeql/rust/elements/UnimplementedDeclaration.qll linguist-generated
/lib/codeql/rust/elements/UnsafeBlockExpr.qll linguist-generated
/lib/codeql/rust/elements/WildcardPat.qll linguist-generated
/lib/codeql/rust/elements/YeetExpr.qll linguist-generated
/lib/codeql/rust/elements/YieldExpr.qll linguist-generated
/lib/codeql/rust/elements/internal/ArrayExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/AsmExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/AsmExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/AstNodeImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/AsyncBlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/AsyncBlockExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/AwaitExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/AwaitExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BecomeExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BecomeExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BinaryExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BinaryExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BlockExprBaseImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BlockExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BoxExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BoxExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BoxPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BoxPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/BreakExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/BreakExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/CallExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/CallExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/CastExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/CastExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ClosureExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ClosureExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ConstBlockPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ConstBlockPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ConstExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ConstExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ContinueExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ContinueExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/DeclarationImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ElementListExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ElementListExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ExprStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ExprStmtImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/FieldExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/FieldExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/FunctionConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/GenericArgListConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/GenericArgListImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/IdentPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/IdentPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/IfExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/IfExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/IndexExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/IndexExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ItemStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ItemStmtImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LabelConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LabelImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LetExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LetExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LetStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LetStmtImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LiteralExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LiteralExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LiteralPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LiteralPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/LoopExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/LoopExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MatchArmConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/MatchArmImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MatchExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/MatchExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MethodCallExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MissingExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/MissingExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MissingImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/MissingPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/MissingPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ModuleConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ModuleImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/OffsetOfExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/OffsetOfExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/OrPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/OrPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/PatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/PathConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/PathExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/PathExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/PathImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/PathPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/PathPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/PrefixExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/PrefixExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RangeExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RangeExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RangePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RangePatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordExprFieldConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordExprFieldImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordPatFieldConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordPatFieldImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RecordPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RefExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RefExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RefPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RefPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/RepeatExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/RepeatExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/ReturnExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/ReturnExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/SlicePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/SlicePatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/StmtImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/TupleExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/TupleExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/TuplePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/TuplePatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/TupleStructPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/TupleStructPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/TypeRefConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/TypeRefImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/UnderscoreExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/UnderscoreExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/UnextractedImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/UnimplementedDeclarationConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/UnimplementedDeclarationImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/UnimplementedImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/UnsafeBlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/UnsafeBlockExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/WildcardPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/WildcardPatImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/YeetExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/YeetExprImpl.qll linguist-generated
/lib/codeql/rust/elements/internal/YieldExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/internal/YieldExprImpl.qll linguist-generated
/lib/codeql/rust/elements.qll linguist-generated
/lib/codeql/rust/internal/generated/ArrayExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/AsmExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/AstNode.qll linguist-generated
/lib/codeql/rust/internal/generated/AsyncBlockExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/AwaitExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/BecomeExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/BinaryExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/BlockExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/BlockExprBase.qll linguist-generated
/lib/codeql/rust/internal/generated/BoxExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/BoxPat.qll linguist-generated
/lib/codeql/rust/internal/generated/BreakExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/CallExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/CastExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/ClosureExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/ConstBlockPat.qll linguist-generated
/lib/codeql/rust/internal/generated/ConstExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/ContinueExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/Declaration.qll linguist-generated
/lib/codeql/rust/internal/generated/Element.qll linguist-generated
/lib/codeql/rust/internal/generated/ElementListExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/Expr.qll linguist-generated
/lib/codeql/rust/internal/generated/ExprStmt.qll linguist-generated
/lib/codeql/rust/internal/generated/FieldExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/Function.qll linguist-generated
/lib/codeql/rust/internal/generated/GenericArgList.qll linguist-generated
/lib/codeql/rust/internal/generated/IdentPat.qll linguist-generated
/lib/codeql/rust/internal/generated/IfExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/IndexExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/ItemStmt.qll linguist-generated
/lib/codeql/rust/internal/generated/Label.qll linguist-generated
/lib/codeql/rust/internal/generated/LetExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/LetStmt.qll linguist-generated
/lib/codeql/rust/internal/generated/LiteralExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/LiteralPat.qll linguist-generated
/lib/codeql/rust/internal/generated/Locatable.qll linguist-generated
/lib/codeql/rust/internal/generated/LoopExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/MatchArm.qll linguist-generated
/lib/codeql/rust/internal/generated/MatchExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/MethodCallExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/Missing.qll linguist-generated
/lib/codeql/rust/internal/generated/MissingExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/MissingPat.qll linguist-generated
/lib/codeql/rust/internal/generated/Module.qll linguist-generated
/lib/codeql/rust/internal/generated/OffsetOfExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/OrPat.qll linguist-generated
/lib/codeql/rust/internal/generated/ParentChild.qll linguist-generated
/lib/codeql/rust/internal/generated/Pat.qll linguist-generated
/lib/codeql/rust/internal/generated/Path.qll linguist-generated
/lib/codeql/rust/internal/generated/PathExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/PathPat.qll linguist-generated
/lib/codeql/rust/internal/generated/PrefixExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/PureSynthConstructors.qll linguist-generated
/lib/codeql/rust/internal/generated/RangeExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/RangePat.qll linguist-generated
/lib/codeql/rust/internal/generated/Raw.qll linguist-generated
/lib/codeql/rust/internal/generated/RecordExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/RecordExprField.qll linguist-generated
/lib/codeql/rust/internal/generated/RecordPat.qll linguist-generated
/lib/codeql/rust/internal/generated/RecordPatField.qll linguist-generated
/lib/codeql/rust/internal/generated/RefExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/RefPat.qll linguist-generated
/lib/codeql/rust/internal/generated/RepeatExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/ReturnExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/SlicePat.qll linguist-generated
/lib/codeql/rust/internal/generated/Stmt.qll linguist-generated
/lib/codeql/rust/internal/generated/Synth.qll linguist-generated
/lib/codeql/rust/internal/generated/SynthConstructors.qll linguist-generated
/lib/codeql/rust/internal/generated/TupleExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/TuplePat.qll linguist-generated
/lib/codeql/rust/internal/generated/TupleStructPat.qll linguist-generated
/lib/codeql/rust/internal/generated/TypeRef.qll linguist-generated
/lib/codeql/rust/internal/generated/UnderscoreExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/Unextracted.qll linguist-generated
/lib/codeql/rust/internal/generated/Unimplemented.qll linguist-generated
/lib/codeql/rust/internal/generated/UnimplementedDeclaration.qll linguist-generated
/lib/codeql/rust/internal/generated/UnsafeBlockExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/WildcardPat.qll linguist-generated
/lib/codeql/rust/internal/generated/YeetExpr.qll linguist-generated
/lib/codeql/rust/internal/generated/YieldExpr.qll linguist-generated
/test/extractor-tests/generated/AsmExpr/AsmExpr.ql linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr.ql linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/AwaitExpr/AwaitExpr.ql linguist-generated
/test/extractor-tests/generated/BecomeExpr/BecomeExpr.ql linguist-generated
/test/extractor-tests/generated/BinaryExpr/BinaryExpr.ql linguist-generated
/test/extractor-tests/generated/BinaryExpr/BinaryExpr_getOp.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/BoxExpr/BoxExpr.ql linguist-generated
/test/extractor-tests/generated/BoxPat/BoxPat.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/CallExpr/CallExpr.ql linguist-generated
/test/extractor-tests/generated/CallExpr/CallExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/CastExpr/CastExpr.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getArgType.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getRetType.ql linguist-generated
/test/extractor-tests/generated/ConstBlockPat/ConstBlockPat.ql linguist-generated
/test/extractor-tests/generated/ConstExpr/ConstExpr.ql linguist-generated
/test/extractor-tests/generated/ContinueExpr/ContinueExpr.ql linguist-generated
/test/extractor-tests/generated/ContinueExpr/ContinueExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/ElementListExpr/ElementListExpr.ql linguist-generated
/test/extractor-tests/generated/ElementListExpr/ElementListExpr_getElement.ql linguist-generated
/test/extractor-tests/generated/ExprStmt/ExprStmt.ql linguist-generated
/test/extractor-tests/generated/FieldExpr/FieldExpr.ql linguist-generated
/test/extractor-tests/generated/Function/Function.ql linguist-generated
/test/extractor-tests/generated/GenericArgList/GenericArgList.ql linguist-generated
/test/extractor-tests/generated/IdentPat/IdentPat.ql linguist-generated
/test/extractor-tests/generated/IdentPat/IdentPat_getSubpat.ql linguist-generated
/test/extractor-tests/generated/IfExpr/IfExpr.ql linguist-generated
/test/extractor-tests/generated/IfExpr/IfExpr_getElse.ql linguist-generated
/test/extractor-tests/generated/IndexExpr/IndexExpr.ql linguist-generated
/test/extractor-tests/generated/Label/Label.ql linguist-generated
/test/extractor-tests/generated/LetExpr/LetExpr.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getElse.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getInitializer.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getType.ql linguist-generated
/test/extractor-tests/generated/LiteralExpr/LiteralExpr.ql linguist-generated
/test/extractor-tests/generated/LiteralPat/LiteralPat.ql linguist-generated
/test/extractor-tests/generated/LoopExpr/LoopExpr.ql linguist-generated
/test/extractor-tests/generated/LoopExpr/LoopExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/MatchArm/MatchArm.ql linguist-generated
/test/extractor-tests/generated/MatchArm/MatchArm_getGuard.ql linguist-generated
/test/extractor-tests/generated/MatchExpr/MatchExpr.ql linguist-generated
/test/extractor-tests/generated/MatchExpr/MatchExpr_getBranch.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getGenericArgs.ql linguist-generated
/test/extractor-tests/generated/MissingExpr/MissingExpr.ql linguist-generated
/test/extractor-tests/generated/MissingPat/MissingPat.ql linguist-generated
/test/extractor-tests/generated/Module/Module.ql linguist-generated
/test/extractor-tests/generated/Module/Module_getDeclaration.ql linguist-generated
/test/extractor-tests/generated/OffsetOfExpr/OffsetOfExpr.ql linguist-generated
/test/extractor-tests/generated/OffsetOfExpr/OffsetOfExpr_getField.ql linguist-generated
/test/extractor-tests/generated/OrPat/OrPat.ql linguist-generated
/test/extractor-tests/generated/OrPat/OrPat_getArg.ql linguist-generated
/test/extractor-tests/generated/Path/Path.ql linguist-generated
/test/extractor-tests/generated/PathExpr/PathExpr.ql linguist-generated
/test/extractor-tests/generated/PathPat/PathPat.ql linguist-generated
/test/extractor-tests/generated/PrefixExpr/PrefixExpr.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr_getLhs.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr_getRhs.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat_getEnd.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat_getStart.ql linguist-generated
/test/extractor-tests/generated/RecordExpr/RecordExpr.ql linguist-generated
/test/extractor-tests/generated/RecordExpr/RecordExpr_getFld.ql linguist-generated
/test/extractor-tests/generated/RecordExpr/RecordExpr_getPath.ql linguist-generated
/test/extractor-tests/generated/RecordExpr/RecordExpr_getSpread.ql linguist-generated
/test/extractor-tests/generated/RecordExprField/RecordExprField.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat_getFld.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat_getPath.ql linguist-generated
/test/extractor-tests/generated/RecordPatField/RecordPatField.ql linguist-generated
/test/extractor-tests/generated/RefExpr/RefExpr.ql linguist-generated
/test/extractor-tests/generated/RefPat/RefPat.ql linguist-generated
/test/extractor-tests/generated/RepeatExpr/RepeatExpr.ql linguist-generated
/test/extractor-tests/generated/ReturnExpr/ReturnExpr.ql linguist-generated
/test/extractor-tests/generated/ReturnExpr/ReturnExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getPrefix.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getSlice.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getSuffix.ql linguist-generated
/test/extractor-tests/generated/TupleExpr/TupleExpr.ql linguist-generated
/test/extractor-tests/generated/TupleExpr/TupleExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat_getArg.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat_getEllipsisIndex.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getArg.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getEllipsisIndex.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getPath.ql linguist-generated
/test/extractor-tests/generated/TypeRef/TypeRef.ql linguist-generated
/test/extractor-tests/generated/UnderscoreExpr/UnderscoreExpr.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/WildcardPat/WildcardPat.ql linguist-generated
/test/extractor-tests/generated/YeetExpr/YeetExpr.ql linguist-generated
/test/extractor-tests/generated/YeetExpr/YeetExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/YieldExpr/YieldExpr.ql linguist-generated
/test/extractor-tests/generated/YieldExpr/YieldExpr_getExpr.ql linguist-generated
