/.generated.list linguist-generated
/.gitattributes linguist-generated
/lib/codeql/rust/elements/ArrayExpr.qll linguist-generated
/lib/codeql/rust/elements/AstNode.qll linguist-generated
/lib/codeql/rust/elements/AsyncBlockExpr.qll linguist-generated
/lib/codeql/rust/elements/AsyncBlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/AwaitExpr.qll linguist-generated
/lib/codeql/rust/elements/AwaitExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/BecomeExpr.qll linguist-generated
/lib/codeql/rust/elements/BecomeExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/BinaryOpExpr.qll linguist-generated
/lib/codeql/rust/elements/BinaryOpExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/BindPat.qll linguist-generated
/lib/codeql/rust/elements/BindPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/BlockExpr.qll linguist-generated
/lib/codeql/rust/elements/BlockExprBase.qll linguist-generated
/lib/codeql/rust/elements/BlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/BoxExpr.qll linguist-generated
/lib/codeql/rust/elements/BoxExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/BoxPat.qll linguist-generated
/lib/codeql/rust/elements/BoxPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/BreakExpr.qll linguist-generated
/lib/codeql/rust/elements/BreakExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/CallExpr.qll linguist-generated
/lib/codeql/rust/elements/CallExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/CastExpr.qll linguist-generated
/lib/codeql/rust/elements/CastExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/ClosureExpr.qll linguist-generated
/lib/codeql/rust/elements/ClosureExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/ConstBlockPat.qll linguist-generated
/lib/codeql/rust/elements/ConstBlockPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/ConstExpr.qll linguist-generated
/lib/codeql/rust/elements/ConstExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/ContinueExpr.qll linguist-generated
/lib/codeql/rust/elements/ContinueExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/DbFile.qll linguist-generated
/lib/codeql/rust/elements/DbFileConstructor.qll linguist-generated
/lib/codeql/rust/elements/DbLocation.qll linguist-generated
/lib/codeql/rust/elements/DbLocationConstructor.qll linguist-generated
/lib/codeql/rust/elements/Declaration.qll linguist-generated
/lib/codeql/rust/elements/ElementListExpr.qll linguist-generated
/lib/codeql/rust/elements/ElementListExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/Expr.qll linguist-generated
/lib/codeql/rust/elements/ExprStmt.qll linguist-generated
/lib/codeql/rust/elements/ExprStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/FieldExpr.qll linguist-generated
/lib/codeql/rust/elements/FieldExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/FunctionConstructor.qll linguist-generated
/lib/codeql/rust/elements/IfExpr.qll linguist-generated
/lib/codeql/rust/elements/IfExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/IndexExpr.qll linguist-generated
/lib/codeql/rust/elements/IndexExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/InlineAsmExpr.qll linguist-generated
/lib/codeql/rust/elements/InlineAsmExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/ItemStmt.qll linguist-generated
/lib/codeql/rust/elements/ItemStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/Label.qll linguist-generated
/lib/codeql/rust/elements/LabelConstructor.qll linguist-generated
/lib/codeql/rust/elements/LetExpr.qll linguist-generated
/lib/codeql/rust/elements/LetExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/LetStmt.qll linguist-generated
/lib/codeql/rust/elements/LetStmtConstructor.qll linguist-generated
/lib/codeql/rust/elements/LitPat.qll linguist-generated
/lib/codeql/rust/elements/LitPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/LiteralExpr.qll linguist-generated
/lib/codeql/rust/elements/LiteralExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/LoopExpr.qll linguist-generated
/lib/codeql/rust/elements/LoopExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/MatchArm.qll linguist-generated
/lib/codeql/rust/elements/MatchArmConstructor.qll linguist-generated
/lib/codeql/rust/elements/MatchExpr.qll linguist-generated
/lib/codeql/rust/elements/MatchExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/MethodCallExpr.qll linguist-generated
/lib/codeql/rust/elements/MethodCallExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/MissingExpr.qll linguist-generated
/lib/codeql/rust/elements/MissingExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/MissingPat.qll linguist-generated
/lib/codeql/rust/elements/MissingPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/Module.qll linguist-generated
/lib/codeql/rust/elements/ModuleConstructor.qll linguist-generated
/lib/codeql/rust/elements/OffsetOfExpr.qll linguist-generated
/lib/codeql/rust/elements/OffsetOfExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/OrPat.qll linguist-generated
/lib/codeql/rust/elements/OrPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/Pat.qll linguist-generated
/lib/codeql/rust/elements/PathExpr.qll linguist-generated
/lib/codeql/rust/elements/PathExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/PathPat.qll linguist-generated
/lib/codeql/rust/elements/PathPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/RangeExpr.qll linguist-generated
/lib/codeql/rust/elements/RangeExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/RangePat.qll linguist-generated
/lib/codeql/rust/elements/RangePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/RecordFieldPat.qll linguist-generated
/lib/codeql/rust/elements/RecordFieldPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/RecordLitExpr.qll linguist-generated
/lib/codeql/rust/elements/RecordLitExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/RecordLitField.qll linguist-generated
/lib/codeql/rust/elements/RecordLitFieldConstructor.qll linguist-generated
/lib/codeql/rust/elements/RecordPat.qll linguist-generated
/lib/codeql/rust/elements/RecordPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/RefExpr.qll linguist-generated
/lib/codeql/rust/elements/RefExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/RefPat.qll linguist-generated
/lib/codeql/rust/elements/RefPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/RepeatExpr.qll linguist-generated
/lib/codeql/rust/elements/RepeatExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/ReturnExpr.qll linguist-generated
/lib/codeql/rust/elements/ReturnExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/SlicePat.qll linguist-generated
/lib/codeql/rust/elements/SlicePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/Stmt.qll linguist-generated
/lib/codeql/rust/elements/TupleExpr.qll linguist-generated
/lib/codeql/rust/elements/TupleExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/TuplePat.qll linguist-generated
/lib/codeql/rust/elements/TuplePatConstructor.qll linguist-generated
/lib/codeql/rust/elements/TupleStructPat.qll linguist-generated
/lib/codeql/rust/elements/TupleStructPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/TypeRef.qll linguist-generated
/lib/codeql/rust/elements/TypeRefConstructor.qll linguist-generated
/lib/codeql/rust/elements/UnaryOpExpr.qll linguist-generated
/lib/codeql/rust/elements/UnaryOpExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/UnderscoreExpr.qll linguist-generated
/lib/codeql/rust/elements/UnderscoreExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/Unimplemented.qll linguist-generated
/lib/codeql/rust/elements/UnimplementedConstructor.qll linguist-generated
/lib/codeql/rust/elements/UnsafeBlockExpr.qll linguist-generated
/lib/codeql/rust/elements/UnsafeBlockExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/WildPat.qll linguist-generated
/lib/codeql/rust/elements/WildPatConstructor.qll linguist-generated
/lib/codeql/rust/elements/YeetExpr.qll linguist-generated
/lib/codeql/rust/elements/YeetExprConstructor.qll linguist-generated
/lib/codeql/rust/elements/YieldExpr.qll linguist-generated
/lib/codeql/rust/elements/YieldExprConstructor.qll linguist-generated
/lib/codeql/rust/elements.qll linguist-generated
/lib/codeql/rust/generated/ArrayExpr.qll linguist-generated
/lib/codeql/rust/generated/AstNode.qll linguist-generated
/lib/codeql/rust/generated/AsyncBlockExpr.qll linguist-generated
/lib/codeql/rust/generated/AwaitExpr.qll linguist-generated
/lib/codeql/rust/generated/BecomeExpr.qll linguist-generated
/lib/codeql/rust/generated/BinaryOpExpr.qll linguist-generated
/lib/codeql/rust/generated/BindPat.qll linguist-generated
/lib/codeql/rust/generated/BlockExpr.qll linguist-generated
/lib/codeql/rust/generated/BlockExprBase.qll linguist-generated
/lib/codeql/rust/generated/BoxExpr.qll linguist-generated
/lib/codeql/rust/generated/BoxPat.qll linguist-generated
/lib/codeql/rust/generated/BreakExpr.qll linguist-generated
/lib/codeql/rust/generated/CallExpr.qll linguist-generated
/lib/codeql/rust/generated/CastExpr.qll linguist-generated
/lib/codeql/rust/generated/ClosureExpr.qll linguist-generated
/lib/codeql/rust/generated/ConstBlockPat.qll linguist-generated
/lib/codeql/rust/generated/ConstExpr.qll linguist-generated
/lib/codeql/rust/generated/ContinueExpr.qll linguist-generated
/lib/codeql/rust/generated/DbFile.qll linguist-generated
/lib/codeql/rust/generated/DbLocation.qll linguist-generated
/lib/codeql/rust/generated/Declaration.qll linguist-generated
/lib/codeql/rust/generated/Element.qll linguist-generated
/lib/codeql/rust/generated/ElementListExpr.qll linguist-generated
/lib/codeql/rust/generated/Expr.qll linguist-generated
/lib/codeql/rust/generated/ExprStmt.qll linguist-generated
/lib/codeql/rust/generated/FieldExpr.qll linguist-generated
/lib/codeql/rust/generated/File.qll linguist-generated
/lib/codeql/rust/generated/Function.qll linguist-generated
/lib/codeql/rust/generated/IfExpr.qll linguist-generated
/lib/codeql/rust/generated/IndexExpr.qll linguist-generated
/lib/codeql/rust/generated/InlineAsmExpr.qll linguist-generated
/lib/codeql/rust/generated/ItemStmt.qll linguist-generated
/lib/codeql/rust/generated/Label.qll linguist-generated
/lib/codeql/rust/generated/LetExpr.qll linguist-generated
/lib/codeql/rust/generated/LetStmt.qll linguist-generated
/lib/codeql/rust/generated/LitPat.qll linguist-generated
/lib/codeql/rust/generated/LiteralExpr.qll linguist-generated
/lib/codeql/rust/generated/Locatable.qll linguist-generated
/lib/codeql/rust/generated/Location.qll linguist-generated
/lib/codeql/rust/generated/LoopExpr.qll linguist-generated
/lib/codeql/rust/generated/MatchArm.qll linguist-generated
/lib/codeql/rust/generated/MatchExpr.qll linguist-generated
/lib/codeql/rust/generated/MethodCallExpr.qll linguist-generated
/lib/codeql/rust/generated/MissingExpr.qll linguist-generated
/lib/codeql/rust/generated/MissingPat.qll linguist-generated
/lib/codeql/rust/generated/Module.qll linguist-generated
/lib/codeql/rust/generated/OffsetOfExpr.qll linguist-generated
/lib/codeql/rust/generated/OrPat.qll linguist-generated
/lib/codeql/rust/generated/ParentChild.qll linguist-generated
/lib/codeql/rust/generated/Pat.qll linguist-generated
/lib/codeql/rust/generated/PathExpr.qll linguist-generated
/lib/codeql/rust/generated/PathPat.qll linguist-generated
/lib/codeql/rust/generated/PureSynthConstructors.qll linguist-generated
/lib/codeql/rust/generated/RangeExpr.qll linguist-generated
/lib/codeql/rust/generated/RangePat.qll linguist-generated
/lib/codeql/rust/generated/Raw.qll linguist-generated
/lib/codeql/rust/generated/RecordFieldPat.qll linguist-generated
/lib/codeql/rust/generated/RecordLitExpr.qll linguist-generated
/lib/codeql/rust/generated/RecordLitField.qll linguist-generated
/lib/codeql/rust/generated/RecordPat.qll linguist-generated
/lib/codeql/rust/generated/RefExpr.qll linguist-generated
/lib/codeql/rust/generated/RefPat.qll linguist-generated
/lib/codeql/rust/generated/RepeatExpr.qll linguist-generated
/lib/codeql/rust/generated/ReturnExpr.qll linguist-generated
/lib/codeql/rust/generated/SlicePat.qll linguist-generated
/lib/codeql/rust/generated/Stmt.qll linguist-generated
/lib/codeql/rust/generated/Synth.qll linguist-generated
/lib/codeql/rust/generated/SynthConstructors.qll linguist-generated
/lib/codeql/rust/generated/TupleExpr.qll linguist-generated
/lib/codeql/rust/generated/TuplePat.qll linguist-generated
/lib/codeql/rust/generated/TupleStructPat.qll linguist-generated
/lib/codeql/rust/generated/TypeRef.qll linguist-generated
/lib/codeql/rust/generated/UnaryOpExpr.qll linguist-generated
/lib/codeql/rust/generated/UnderscoreExpr.qll linguist-generated
/lib/codeql/rust/generated/Unimplemented.qll linguist-generated
/lib/codeql/rust/generated/UnknownFile.qll linguist-generated
/lib/codeql/rust/generated/UnknownLocation.qll linguist-generated
/lib/codeql/rust/generated/UnsafeBlockExpr.qll linguist-generated
/lib/codeql/rust/generated/WildPat.qll linguist-generated
/lib/codeql/rust/generated/YeetExpr.qll linguist-generated
/lib/codeql/rust/generated/YieldExpr.qll linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr.ql linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/AsyncBlockExpr/AsyncBlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/AwaitExpr/AwaitExpr.ql linguist-generated
/test/extractor-tests/generated/BecomeExpr/BecomeExpr.ql linguist-generated
/test/extractor-tests/generated/BinaryOpExpr/BinaryOpExpr.ql linguist-generated
/test/extractor-tests/generated/BinaryOpExpr/BinaryOpExpr_getOp.ql linguist-generated
/test/extractor-tests/generated/BindPat/BindPat.ql linguist-generated
/test/extractor-tests/generated/BindPat/BindPat_getSubpat.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/BlockExpr/BlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/BoxExpr/BoxExpr.ql linguist-generated
/test/extractor-tests/generated/BoxPat/BoxPat.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/BreakExpr/BreakExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/CallExpr/CallExpr.ql linguist-generated
/test/extractor-tests/generated/CallExpr/CallExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/CastExpr/CastExpr.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getArgType.ql linguist-generated
/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getRetType.ql linguist-generated
/test/extractor-tests/generated/ConstBlockPat/ConstBlockPat.ql linguist-generated
/test/extractor-tests/generated/ConstExpr/ConstExpr.ql linguist-generated
/test/extractor-tests/generated/ContinueExpr/ContinueExpr.ql linguist-generated
/test/extractor-tests/generated/ContinueExpr/ContinueExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/ElementListExpr/ElementListExpr.ql linguist-generated
/test/extractor-tests/generated/ElementListExpr/ElementListExpr_getElement.ql linguist-generated
/test/extractor-tests/generated/ExprStmt/ExprStmt.ql linguist-generated
/test/extractor-tests/generated/FieldExpr/FieldExpr.ql linguist-generated
/test/extractor-tests/generated/File/File.ql linguist-generated
/test/extractor-tests/generated/Function/Function.ql linguist-generated
/test/extractor-tests/generated/IfExpr/IfExpr.ql linguist-generated
/test/extractor-tests/generated/IfExpr/IfExpr_getElse.ql linguist-generated
/test/extractor-tests/generated/IndexExpr/IndexExpr.ql linguist-generated
/test/extractor-tests/generated/InlineAsmExpr/InlineAsmExpr.ql linguist-generated
/test/extractor-tests/generated/Label/Label.ql linguist-generated
/test/extractor-tests/generated/LetExpr/LetExpr.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getElse.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getInitializer.ql linguist-generated
/test/extractor-tests/generated/LetStmt/LetStmt_getTypeRef.ql linguist-generated
/test/extractor-tests/generated/LitPat/LitPat.ql linguist-generated
/test/extractor-tests/generated/LiteralExpr/LiteralExpr.ql linguist-generated
/test/extractor-tests/generated/LoopExpr/LoopExpr.ql linguist-generated
/test/extractor-tests/generated/LoopExpr/LoopExpr_getLabel.ql linguist-generated
/test/extractor-tests/generated/MatchArm/MatchArm.ql linguist-generated
/test/extractor-tests/generated/MatchArm/MatchArm_getGuard.ql linguist-generated
/test/extractor-tests/generated/MatchExpr/MatchExpr.ql linguist-generated
/test/extractor-tests/generated/MatchExpr/MatchExpr_getBranch.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getArg.ql linguist-generated
/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getGenericArgs.ql linguist-generated
/test/extractor-tests/generated/MissingExpr/MissingExpr.ql linguist-generated
/test/extractor-tests/generated/MissingPat/MissingPat.ql linguist-generated
/test/extractor-tests/generated/Module/MISSING_SOURCE.txt linguist-generated
/test/extractor-tests/generated/OffsetOfExpr/OffsetOfExpr.ql linguist-generated
/test/extractor-tests/generated/OffsetOfExpr/OffsetOfExpr_getField.ql linguist-generated
/test/extractor-tests/generated/OrPat/OrPat.ql linguist-generated
/test/extractor-tests/generated/OrPat/OrPat_getArg.ql linguist-generated
/test/extractor-tests/generated/PathExpr/PathExpr.ql linguist-generated
/test/extractor-tests/generated/PathPat/PathPat.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr_getLhs.ql linguist-generated
/test/extractor-tests/generated/RangeExpr/RangeExpr_getRhs.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat_getEnd.ql linguist-generated
/test/extractor-tests/generated/RangePat/RangePat_getStart.ql linguist-generated
/test/extractor-tests/generated/RecordFieldPat/RecordFieldPat.ql linguist-generated
/test/extractor-tests/generated/RecordLitExpr/RecordLitExpr.ql linguist-generated
/test/extractor-tests/generated/RecordLitExpr/RecordLitExpr_getField.ql linguist-generated
/test/extractor-tests/generated/RecordLitExpr/RecordLitExpr_getPath.ql linguist-generated
/test/extractor-tests/generated/RecordLitExpr/RecordLitExpr_getSpread.ql linguist-generated
/test/extractor-tests/generated/RecordLitField/RecordLitField.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat_getArg.ql linguist-generated
/test/extractor-tests/generated/RecordPat/RecordPat_getPath.ql linguist-generated
/test/extractor-tests/generated/RefExpr/RefExpr.ql linguist-generated
/test/extractor-tests/generated/RefPat/RefPat.ql linguist-generated
/test/extractor-tests/generated/RepeatExpr/RepeatExpr.ql linguist-generated
/test/extractor-tests/generated/ReturnExpr/ReturnExpr.ql linguist-generated
/test/extractor-tests/generated/ReturnExpr/ReturnExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getPrefix.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getSlice.ql linguist-generated
/test/extractor-tests/generated/SlicePat/SlicePat_getSuffix.ql linguist-generated
/test/extractor-tests/generated/TupleExpr/TupleExpr.ql linguist-generated
/test/extractor-tests/generated/TupleExpr/TupleExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat_getArg.ql linguist-generated
/test/extractor-tests/generated/TuplePat/TuplePat_getEllipsisIndex.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getArg.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getEllipsisIndex.ql linguist-generated
/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getPath.ql linguist-generated
/test/extractor-tests/generated/TypeRef/MISSING_SOURCE.txt linguist-generated
/test/extractor-tests/generated/UnaryOpExpr/UnaryOpExpr.ql linguist-generated
/test/extractor-tests/generated/UnderscoreExpr/UnderscoreExpr.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr_getStatement.ql linguist-generated
/test/extractor-tests/generated/UnsafeBlockExpr/UnsafeBlockExpr_getTail.ql linguist-generated
/test/extractor-tests/generated/WildPat/WildPat.ql linguist-generated
/test/extractor-tests/generated/YeetExpr/YeetExpr.ql linguist-generated
/test/extractor-tests/generated/YeetExpr/YeetExpr_getExpr.ql linguist-generated
/test/extractor-tests/generated/YieldExpr/YieldExpr.ql linguist-generated
/test/extractor-tests/generated/YieldExpr/YieldExpr_getExpr.ql linguist-generated
