<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.happybirthday">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthday"
        tools:targetApi="31">

        <activity
            android:name=".Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity> <!-- $ hasImplicitExport -->

        <receiver
            android:name=".CheckInstall">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>

            </intent-filter>
        </receiver> <!-- $ hasImplicitExport -->

        <service
            android:name=".backgroundService">
            <intent-filter>
                <action android:name="android.intent.action.START_BACKGROUND"/>

            </intent-filter>
        </service> <!-- $ hasImplicitExport -->

        <provider
            android:name=".MyCloudProvider">
            <intent-filter>
                <action android:name="android.intent.action.DOCUMENTS_PROVIDER"/>

            </intent-filter>
        </provider> <!-- $ hasImplicitExport -->

        <activity
            android:name=".Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity> <!-- Safe: 'android:exported' explicitly set -->

        <activity
            android:name=".Activity">
        </activity> <!-- Safe: no intent filter -->

        <activity
            android:name=".Activity"
            android:permission=".Test">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity> <!-- Safe: has 'permission' attribute -->

        <provider
            android:name=".MyCloudProvider"
            android:readPermission=".TestRead"
            android:writePermission=".TestWrite">
            <intent-filter>
                <action android:name="android.intent.action.DOCUMENTS_PROVIDER"/>

            </intent-filter>
        </provider> <!-- Safe: 'provider' with read and write permissions set -->

        <provider
            android:name=".MyCloudProvider"
            android:readPermission=".TestRead">
            <intent-filter>
                <action android:name="android.intent.action.DOCUMENTS_PROVIDER"/>

            </intent-filter>
        </provider> <!-- $ hasImplicitExport -->

        <provider
            android:name=".MyCloudProvider"
            android:writePermission=".TestWrite">
            <intent-filter>
                <action android:name="android.intent.action.DOCUMENTS_PROVIDER"/>

            </intent-filter>
        </provider> <!-- $ hasImplicitExport -->

        <activity
            android:name=".Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Safe: has category 'android.intent.category.LAUNCHER' -->

        <activity
            android:name=".Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Safe: has action 'android.intent.category.MAIN' -->

    </application>

</manifest>
