<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="https://www.springframework.org/schema/context"
       xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
	https://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="anotherBookingService" class="com.gypsyengineer.server.CabBookingServiceImpl"/>

    <bean name="/unsafeBooking" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="anotherBookingService"/>
        <property name="serviceInterface" value="com.gypsyengineer.api.CabBookingService"/>
    </bean>

    <bean class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="anotherBookingService"/>
        <property name="serviceInterface" value="com.gypsyengineer.api.CabBookingService"/>
    </bean>
</beans>
