<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Read Only -->

        <provider
            android:name=".MyContentProviderRO"
            android:authorities="table"
            android:enabled="true"
            android:exported="true"
            android:readPermission="android.permission.MANAGE_DOCUMENTS"></provider><!-- $ hasIncompletePermissions -->


        <!-- Write Only -->

         <provider
            android:name=".MyContentProviderWO"
            android:authorities="table"
            android:enabled="true"
            android:exported="true"
            android:writePermission="android.permission.MANAGE_DOCUMENTS"></provider><!-- $ hasIncompletePermissions -->

         <!-- Full -->

        <!-- Safe: provider has full permissions set --> <provider
            android:name=".MyContentProviderFull"
            android:authorities="morestuff"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"></provider>

        <!-- Read-Write -->

           <!-- Safe: has both read and write permission --><provider
            android:name=".MyContentProviderRW"
            android:authorities="table"
            android:enabled="true"
            android:exported="true"
            android:readPermission="android.permission.MANAGE_DOCUMENTS"
            android:writePermission="android.permission.MANAGE_DOCUMENTS"></provider>


        <!-- Not exported -->

        <!-- Safe: provider not exported --> <provider
            android:name=".MyContentProviderNE"
            android:authorities="table"
            android:enabled="true"
            android:writePermission="android.permission.MANAGE_DOCUMENTS"></provider>

    </application>

</manifest>
