<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.1" >

    <application>
        <activity android:name=".CleartextStorageAndroidDatabaseTest"></activity>
        <activity android:name=".CleartextStorageAndroidFileSystemTest"></activity>
        <activity android:name=".CleartextStorageSharedPrefsTest"></activity>
    </application>

</manifest>
