{{^is_predicate}}
{{^is_unoredered}}
Gets the {{#is_repeated}}`index`th {{/is_repeated}}{{doc}}{{#is_repeated}} (0-based){{/is_repeated}}{{#is_optional}}, if it exists{{/is_optional}}.
{{/is_unoredered}}
{{/is_predicate}}
{{#is_predicate}}
Holds if {{doc}}.
{{/is_predicate}}
{{#is_unordered}}
Gets any of the {{doc_plural}}.
{{/is_unordered}}
