<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="report-uri https://example.test/frame-ancestors" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
