name: Update framework coverage reports

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    name: Update framework coverage report
    if: github.repository == 'github/codeql'
    runs-on: ubuntu-latest

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github.event) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Clone self (github/codeql)
        uses: actions/checkout@v4
        with:
          path: ql
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - name: Download CodeQL CLI
        uses: ./ql/.github/actions/fetch-codeql
      - name: Generate coverage files
        run: |
          python ql/misc/scripts/library-coverage/generate-report.py ci ql ql

      - name: Create pull request with changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python ql/misc/scripts/library-coverage/create-pr.py ql "$GITHUB_REPOSITORY"
