name: Query help preview

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - "rc/*"
    paths:
      - "ruby/**/*.qhelp"

jobs:
  qhelp:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{  github.event.number }}" > pr.txt
      - uses: actions/upload-artifact@v2
        with:
          name: comment
          path: pr.txt
          retention-days: 1
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
          persist-credentials: false
      - uses: ./.github/actions/fetch-codeql
      - name: Determine changed files
        id: changes
        run: |
          (git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep '.qhelp$' | grep -v '.inc.qhelp';
           git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep '.inc.qhelp$' | xargs -d '\n' -rn1 basename | xargs -d '\n' -rn1 git grep -l) |
           grep '.qhelp$' | grep -v '^-' | sort -u > "${{ runner.temp }}/paths.txt"

      - name: QHelp preview
        run: |
          echo "QHelp previews:" > comment.txt
          cat "${{ runner.temp }}/paths.txt" | while read path; do
            if [ ! -f "${path}" ]; then
               exit 1
            fi
            echo "<details> <summary>${path}</summary>"
            echo
            codeql generate query-help --format=markdown -- "./${path}"
            echo "</details>"
          done >> comment.txt

      - uses: actions/upload-artifact@v2
        with:
          name: comment
          path: comment.txt
          retention-days: 1
