name: Query help preview

permissions:
  contents: read

on:
  pull_request_target:
    branches:
      - main
      - "rc/*"
    paths:
      - "ruby/**/*.qhelp"

jobs:
  qhelp:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: github/codeql/.github/actions/fetch-codeql@main
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.number }}/merge
          fetch-depth: 2
          persist-credentials: false

      - name: Determine changed files
        id: changes
        run: |
          (git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep '.qhelp$' | grep -v '.inc.qhelp';
           git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep '.inc.qhelp$' | xargs -d '\n' -rn1 basename | xargs -d '\n' -rn1 git grep -l) |
           grep '.qhelp$' | sort -u > "${{ runner.temp }}/paths.txt"

      - name: QHelp preview
        run: |
          cat "${{ runner.temp }}/paths.txt" | while read path; do
            echo "<details> <summary>${path}</summary>"
            echo
            codeql generate query-help --format=markdown "${path}"
            echo "</details>"
          done > comment.txt

      - uses: actions/upload-artifact@v2
        with:
          name: comment.txt
          path: comment.txt

  post_comment:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    needs: qhelp
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: comment.txt
      - run: |
          (echo "QHelp previews:"; cat comment.txt) | gh pr comment "${{ github.event.pull_request.number }}" --repo "${{ github.repository }}" -F -
        env:
          GITHUB_TOKEN: ${{ github.token }}
