name: Check synchronized files

on:
  push:
    branches:
      - main
      - 'rc/*'
  pull_request:
    branches:
      - main
      - 'rc/*'

permissions:
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check synchronized files
        run: python config/sync-files.py
      - name: Check dbscheme fragments
        run: python config/sync-dbscheme-fragments.py

